.carousel {
    position: relative;
    display: flex;
    overflow: auto;
    &::-webkit-scrollbar {
        border-radius: 10px;
        height: 10px;
        width: 8px;
    }
}

.container {
    width: 100%;
}